@model MongoDB.Dtos.ProductDtos.CreateProductDto
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <div class="alert alert-info">Yeni Ürün Ekleme Sayfası</div>
        <label>Ürün Adı</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <br />
        <label>Ürün Miktarı</label>
        <input type="text" asp-for="ProductQuantity" class="form-control" />
        <br />
        <label>Ürün Fiyatı</label>
        <input type="text" asp-for="ProductPrice" class="form-control" />
        <br />
        <button class="btn btn-primary">Ürünü Kaydet</button>
    </form>
</div>